In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
cabecera = "C:/Users/Guany/Documents/GitHub/python-ml-course/datasets/cereals/Cereal data columns.csv"
datos = "C:/Users/Guany/Documents/GitHub/python-ml-course/datasets/cereals/Cereal data.txt"

In [66]:
data_cols = pd.read_csv(cabecera)

In [67]:
data_cols

                   Cereal
0            Manufacturer
1                    Type
2                Calories
3                 Protein
4                     Fat
5                  Sodium
6           Dietary Fiber
7   Complex Carbohydrates
8                  Sugar
9           Display Shelf
10              Potassium
11    Vitamins & Minerals
12                 Weight

In [68]:
data_col_list = data_cols["Cereal"].tolist()
data2= pd.read_csv(datos, header=None, names={"Name", "Manufacturer", "Type", "Calories", "Protein", "Fat", "Sodium", "Fiber", "Carbo", "Sugars", "Potass", "Vitamins", "Weight", "Cups"} , sep= " ")
data2.columns.values

array(['Protein', 'Name', 'Weight', 'Sugars', 'Fiber', 'Sodium', 'Fat',
       'Type', 'Carbo', 'Vitamins', 'Cups', 'Manufacturer', 'Calories',
       'Potass'], dtype=object)

In [69]:
data2.head()

,Protein,Name,Weight,Sugars,Fiber,Sodium,Fat,Type,Carbo,Vitamins,Cups,Manufacturer,Calories,Potass
100%_Bran,N,C,70,4,1,130,10.0,5.0,6,3,280,25,1.0,0.33
100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8,3,135,0,1.0,-1.00
All-Bran,K,C,70,4,1,260,9.0,7.0,5,3,320,25,1.0,0.33
All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0,3,330,25,1.0,0.50
Almond_Delight,R,C,110,2,2,200,1.0,14.0,8,3,-1,25,1.0,0.75